<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>ログイン画面</title>
    </head>

    <body>
        <h1>ログイン画面</h1>
        <form th:action="@{/sign_in}" method="post" >
            <div class="username">
                <p>ID</p>
                <input type="text" name="username">
            </div>

            <div class="password">
                <p>パスワード</p>
                <input type="password" name="password">
            </div>

            <div class="login_button">
                <input type="submit" value="ログイン">
            </div>
        </form>
    </body>
</html>