<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>アンケート</title>
    </head>

    <body>
        <h1>アンケート</h1>
        <form th:action="@{/confirm}" method="post">
            <div class="question1">
                <p>好きな肉は？</p>
                <label>
                    <input type="radio" name="like_meat" value="牛">牛
                </label>
                <label>
                    <input type="radio" name="like_meat" value="馬">馬
                </label>
                <label>
                    <input type="radio" name="like_meat" value="羊">羊
                </label>
                <label>
                    <input type="radio" name="like_meat" value="豚">豚
                </label>
                <label>
                    <input type="radio" name="like_meat" value="鶏">鶏
                </label>
            </div>

            <div class="question2">
                <p>好きな野菜は？</p>
                <label>
                    <input type="radio" name="like_veg" value="人参">人参
                </label>
                <label>
                    <input type="radio" name="like_veg" value="キャベツ">キャベツ
                </label>
                <label>
                    <input type="radio" name="like_veg" value="レタス">レタス
                </label>
                <label>
                    <input type="radio" name="like_veg" value="ネギ">ネギ
                </label>
                <label>
                    <input type="radio" name="like_veg" value="パセリ">パセリ
                </label>
            </div>

            <div class="question3">
                <p>好きなアイドルは？</p>
                <input type="text" name="like_idol">
            </div>

            <div class="check_button">
                <input type="submit" value="入力確認">
            </div>
        </form>
    </body>
</html>